*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

}

html, body {
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: visible;

}


/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}



/* menu bar */
a{
  font-family: roboto;
}

.Menu-Bar{

  position: sticky;
  display: flex;
  order: 5;
  justify-content: center;
  background-color: #78CDD7;

}
.Menu-Bar a {
  display: block;
  text-align: center;
  padding: 16px;
  width: 10%;
    /* height: 10%; */
  color: white;
  font-size: 20px;
  z-index: 1000;
}


.Menu-Bar a:hover{
  background-color: black;
  opacity: 30%;
}



.Github {
  background: #44A1A0;
  color: white;
}

.Instagram {
  background: #247B7B;
  color: white;
}

.Contact{
  padding-top: 25vh;
  background: #44A1A0;
  color: white;
}

/* contact bar */

.Contact-Bar{
  display: block;
  margin-top: 60vh;
  margin-bottom: 10vh;
  top: 50%;
  height: 25vh;




}
.Contact-Bar a {
  display: block;
  text-align: left;
  padding-top: 10px;
  padding-left: 15px;
  width: 100%;
  height: 30%;
  color: white;
  font-size: 20px;

}



i{
  font-family: roboto;
}

/* camera */
.Icons img{
  width:15%; /* you can use % */
  height: auto;
}

.camera{
  padding-left: -10%;
  transform: rotate(-15deg);
}

div{
  position: absolute;
  width: 100%;
  height: 75%;
  display: flex;
  justify-content: space-between;

}
/* header */

header{
  background-image: url("IMG_0901-bewerkt2.jpg");
  image-rendering: crisp-edges;

  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center top;
  text-align: left;


}

/* titels voor articles: */
 h1{
  font-size: 50px;
  font-family: roboto;
}

/* titel website */

h2{
 font-size: 70px;
 font-family: roboto;
 padding-top: 7vh;
 color: #586F7C;
 padding-left: 7%;
 /* text-decoration: underline; */
}

/* article sizes: */
article{
  width: 100%;
  height: 25vh;
  padding-top: 10vh;
  padding-left: 30%;
  padding-right: 30%;
}

article .Projects{
  width: 100%;
  height: 25vh;
  padding-top: 25vh;
  padding-left: 30%;
  padding-right: 30%;
}


p{
  font-family: roboto;
}

/* iframe */

iframe{

  width: 100%;
  height: 50vh;

}

/* badges */

.Badges{

}
